body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 60vh;
  width: 80vw;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 4px;
  height: 100%;
}

.item {
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.placeholder {
  border: 1px solid transparent;
}

.empty {
  display: none;
}
