body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 60vh;
  width: 80vw;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
}


.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
}

.item {
  padding: 4px;
  margin: 2px;
  border: 1px solid black;
}

.placeholder {
  visibility: hidden;
}

.empty {
  display: none;
}
